.cover {
    height: 757px;
    position: relative;
    background-image: url(../../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}