.cover {
    padding: 165px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 128px;
    position: relative;
    background-image: url(../../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}