@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-image/header__logo-image.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__links-list/header__links-list.css);
@import url(../blocks/header/__links-list-item/header__links-list-item.css);
@import url(../blocks/header/__links-list-item/_no-bullit/header__links-list-item_no-bullit.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);
@import url(../blocks/address/address.css);
@import url(../blocks/header/__address/header__address.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__description/cover__description.css);
@import url(../blocks/cover/__description-text/cover__description-text.css);

@import url(../blocks/lots/lots.css);
@import url(../blocks/lots/__heading/lots__heading.css);
@import url(../blocks/lots/__look-more-link/lots__look-more-link.css);
@import url(../blocks/lots/__card-list/lots__card-list.css);
@import url(../blocks/lots/__card-list-item/lots__card-list-item.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/_type/card_type_book.css);
@import url(../blocks/card/_type/card_type_film.css);
@import url(../blocks/card/_type/card_type_picture.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__text/card__text.css);

/* доп. стили секции cover */

.aligned-text {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended-30px {
    letter-spacing: 30px;
}

.letter-spacing-extended-60px {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

/* доп. стили для секции lots */

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}